<div class="page-content header-clear-small mt-5 mb-3">
    <% desks.forEach(d=>{ %>
        <a href="/deskCard?id=<%= d.Id %>" data-menu="menu-event-card-form">
            <div class="card card-style mb-3">
                <div class="d-flex">
                    <div class="ps-3 ms-2 align-self-center">
                        <h4 class="pt-2 pb-1 font-20">
                            <%= d.Name %>
                                </h1>
                                <p class="font-12 opacity-75 mt-n1 mb-1 sub-title">
                                    <span>מס</span>:<b><%= d.Id %></b>
                                    <span>יתרה</span>:<b><%= d.Balance %></b>
                                    <span>אירועים</span>:<b><%= d.Events %></b>
                                    <span>עובדים</span>:<b><%= d.Workers %></b>
                                </p>
                    </div>
                    <div class="ms-auto me-4 align-self-center">
                        <i class="fa fa-angle-left"></i>
                    </div>
                </div>
            </div>
        </a>        
        <% }) %>
</div>