<%- include ('components/head') %>
<%- include ('components/preloader') %>
<div id="page">
    <%- include ('components/footBar') %>
    <%- include ('components/headBar') %>
    <%- include ('components/eventFilters') %>    
    <%- include ('components/eventList') %>
</div>
<%- include('voiceRecorder') %>
<%- include('components/foot') %>