<%- include ('components/head') %>
<%- include ('components/preloader') %>
<div id="page">
    <%- include ('components/footBar') %>
    <%- include ('components/headBar') %>        
    
    <div class="card card-style mt-6">
        <div class="content">
            <h1>עוזר קולי</h1>
            <p class="color-highlight font-12 mt-n3 pt-1 mb-2">דף זמני</p>
            <p class="mb-1">
                הרכיב "עוזר קולי" נועד לאפשר למשתמש לבצע את רוב הפעולות במערכת באמצעות פקודות קוליות. להלן הפקודות הנתמכות בגרסה הנוכחית:
            </p>
            <ul class="icon-list mb-0 bold">
                <li><i class="fa fa-check color-green-dark"></i>קופות</li>
                <li><i class="fa fa-check color-green-dark"></i>קופה חדשה</li>
                <li><i class="fa fa-check color-green-dark"></i>עובדים</li>
                <li><i class="fa fa-check color-green-dark"></i>עובד חדש</li>
                <li><i class="fa fa-check color-green-dark"></i>אירועים</li>
                <li><i class="fa fa-check color-green-dark"></i>הפקדות</li>
                <li><i class="fa fa-check color-green-dark"></i>משיכות</li>
                <li><i class="fa fa-check color-green-dark"></i>אירועים פתוחים</li>
                <li><i class="fa fa-check color-green-dark"></i>אירועים סגורים</li>                
                <li><i class="fa fa-check color-green-dark"></i>אירועים בארכיון</li>
                <li><i class="fa fa-check color-green-dark"></i>הפקדה חדשה</li>
                <li><i class="fa fa-check color-green-dark"></i>משיכה חדשה</li>                
            </ul>
        </div>
    </div>

</div>
<%- include('voiceRecorder') %>
<%- include('components/foot') %>